[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[log]
	decorate = auto

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[user]
	name = Yuhei Horibe
	email = yuhei1.horibe@gmail.com
[core]
	editor = vim
